# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode config
.vscode/

# Pytest cache
.pytest_cache/
.cache/

# Local reports
alerts/
*.html
*.csv

# Environment variable files
.env

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
